<ul>
  {{#each campgrounds as |campground|}}
    <li><button {{action "select" campground}}>{{campground.name}}</button></li>
  {{/each}}
  <li><button {{action "openAddRoute"}}>Add</button></li>
</ul>