{{#modal-dialog
  onClose=(action "closeModal")
  translucentOverlay=true
}}
  <form>
    <h2>Add New Campground</h2>
    <input type="text" placeholder="Campground Name">
    <button type="button">Cancel</button>
    <button type="submit">Add</button>
  </form>
{{/modal-dialog}}